.bloque{
	float: none;
	padding: 50px 50px;
	width: 60px;
	height: 20px;
}
.padre{
	width: 600px;
	border: 1px solid grey;

}
.yellow{
	background-color: #F3F781;
}
.blue{
	background-color: #5858FA;
}
.red{
	background-color: #FA5858;
}